// fonts
$mononoki: 'Mononoki', Monaco, 'Lucida Console', monospace;

// colors
$blue-dark: #1B2B34;
$blue-light: #6699CC;
$blue-faint: #C0C5CE;
$yellow: #FAC863;
$green: #99C794;
$red: #EC5f67;
$gray: #65737E;

// Vim green
$vimgreen:  #007f00;

